/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1440px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
    background: #fffef8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}
.active {
    font-weight: 600;
}
nav ul a {
    text-decoration: none;
    color: black;
}
nav ul a:hover {
    color: #b1663c;
}

nav img {
    width: 22px;
}

li:hover {
    color: #b1663c;
}
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
}

/* css filters  */

#myFilters {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#myFilters button {
    border: 1px solid #1d6154;
    border-radius: 60px;
    background-color: white;
    min-width: 100px;
    height: 37px;
    color: #1d6154;
    font-size: 16px;
    font-weight: 700;
}

#myFilters button:hover {
    cursor: pointer;
}

#myFilters button.active {
    background-color: #1d6154;
    color: white;
}

#myFilters button.active:hover {
    cursor: default;
}

#open-modal {
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.section-modifier {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.modal-content {
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 1000;
    padding: 20px;
    width: 630px;
    height: 688px;
    flex-shrink: 0;
    border-radius: 10px;
}

#close-modal {
    position: absolute;
    top: 26px;
    right: 30px;
    cursor: pointer;
    font-size: 24px;
}

#modal-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 6px;
    row-gap: 24px;
    margin-left: 105px;
    margin-right: 105px;
    margin-top: 46px;
}

.line-modal {
    width: 420px;
    height: 1px;
    background-color: #b3b3b3;
    margin: auto;
    margin-top: 67px;
}

#modal-work img.image-galery {
    width: 79px;
}
#modal-work figure {
    position: relative;
}

#button-delete {
    background-color: black;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6%;
    left: 73%;
    cursor: pointer;
}

#delete-icon {
    width: 9px;
    height: 11px;
}

h3 {
    text-align: center;
    font-size: 26px;
    padding-top: 60px;
}

/* css page login  */

#login h2 {
    text-align: center;
    margin-top: 150px;
}

#login a {
    text-decoration-line: underline;
    color: #3d3d3d;
    font-size: 14px;
    line-height: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.email {
    display: flex;
    flex-direction: column;
}

.password {
    display: flex;
    flex-direction: column;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
#contact,
#login {
    width: 50%;
    margin: auto;
}
#contact > *,
#login > *,
#modal > * {
    text-align: center;
}
#contact h2,
#login h2 {
    margin-bottom: 20px;
}
#contact form,
#login form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input,
#login input,
#modal input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#modal input {
    width: 237px;
}
#contact label,
#login label {
    margin: 2em 0 1em 0;
}

#login-status {
    margin-top: 10px;
    color: #b91c1c;
    font-size: 16px;
    font-weight: bold;
}

#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0e2f28;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

footer {
    background-color: white;
    width: 100%;
    flex-shrink: 0;
}
